<!DOCTYPE html>
<html>
  <head>
    <title>RestfulKickstarterChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


    <pre>

                    T."-._..---.._,-"/|
                    l|"-.  _.v._   (" |
                    [l /.'_ \; _~"-.`-t
                    Y " _(o} _{o)._ ^.|
                    j  T  ,- V -.  T  ]
                    \  l ( /-^-\ ) !  !
                     \. \.  "~"  ./  /c-..,__
                       ^r- .._ .- .-"  `- .  ~"--.
                        > \.                      \
                        ]   ^.                     \
                        3  .  ">            .       |
           ,.__.--._   _j   \ ~   .         ;       |
          (    ~"-._~"^._\   ^.    ^._      I     . l
           "-._ ___ ~"-,_7    .Z-._   7"   Y      ;  \        _
              /"   "~-(r r  _/_--._~-/    /      /,.--^-._   / |
              "-._    '"~~~>-._~]>--^---./____,.^~        ^.^  !
                  ~--._    '   Y---.                        \./
                       ~~--._  l_   )                        \
                             ~-._~~~---._,____..---           \
                                 ~----"~       \
                                                \
    <pre>

  </body>
</html>
